// #### GENERAL SASS VARIABLES ####

// Font family
$bodyFont: 'Open Sans', sans-serif;
$altFont: ChunkFiveRegular, Georgia, serif;

// Font Sizes
$root-font-size-px: 16px;
$root-font-size-em: 1.6em;

// Colours
$bodyColor: #333;
$lightBlue: #1f90cf;
$orange: rgb(241, 90, 34);
$darkGray: #222;
$mediumGray: #666;
$lightGray: #999;
$subtleGray: #d5d5d5;
$deepBlue: #204c95;
