.topics-list {
	list-style: none;
	padding-left: 0;
	
	> li {
			
		margin-bottom: -da-convt-root-ems(12px);
		font-size: -da-convt-root-ems(14px);
		padding: -da-convt-root-ems(12px) 0;
		text-align: right;
		font-weight: bold;
		position: relative;
		min-height: -da-convt-root-ems(80px);
		text-align: center;
		overflow: hidden;
		
		> b {
			text-shadow: 1px 1px 1px #fff;
			color: $darkGray;
			padding: -da-convt-root-ems(36px) -da-convt-root-ems(12px) 0;
			border-top-left-radius: 10px;
			display: block;
			width: 45%;
			float: left;
		}
		
	}
		
		
	> li + li {
		
		border-top: 1px solid $subtleGray;
		
	}
		
	
	> li:nth-child(2n) {
		margin-right: 0;	
	}

}



[class^=icon-] {
	background-image: url(../images/icon-sprite_all.png);
	background-repeat: no-repeat;
	width: 150px;
	height: 120px;
	display: block;
	float: left;
	margin-right: 0;
}
 

.icon-markup {
	background-position:  -40px 20px;
}

.icon-selectors {
	background-position: -38px -150px;
}

.icon-boxmodel {
	background-position: -40px -370px;
}

.icon-grid {
	background-position: -35px -650px;
}

.icon-positioning {
	background-position: -40px -940px;
}

.icon-sprite {
	background-position: -35px -1460px;
}

.icon-typography {
	background-position: -45px -1205px;
}

.icon-ie {
	background-position: -35px -1710px;
}

.icon-rwd {
	background-position: -35px -1985px;
}

.icon-fluid-grid {
	background-position: -35px -2270px;
}

.icon-media-queries {
	background-position: -35px -2535px;
}

.icon-responsive-img {
	background-position: -35px -2820px;
}

.icon-css3-selectors {
	background-position: -35px -3062px;
}

.icon-css-transforms {
	background-position: -35px -3332px;
}

.icon-css-animations {
	background-position: -40px -3604px;
}

.icon-ps-effects {
	background-position: -35px -3858px;
}

.icon-html5-semantics {
	background-position: -33px -4119px;
}

.icon-forms {
	background-position: -33px -4377px;
}

.icon-web-media {
	background-position: -35px -4633px;
}

.icon-canvas {
	background-position: -31px -4905px;
}

.icon-wai-aria {
	background-position: -35px -5141px;
}

.icon-web-storage {
	background-position: -28px -5379px;
}

.icon-geolocation {
	background-position: -28px -5627px;
}

.icon-drag-drop {
	background-position: -28px -5890px;
}

.icon-compass {
	background-position: -39px -6087px;
}

.icon-sass {
  background-position: -28px -6270px;
}

.icon-naming {
	background-position: -33px -6480px;
}

.icon-oocss {
	background-position: -35px -6670px;
}

.icon-refactor {
  background-position: -35px -6877px;
}

.icon-style-guide {
  background-position: -35px -7142px;
}

.icon-cascade {
  background-position: -35px -7342px;
}

@media screen and (min-width: -da-convt-root-ems(480px)) {
	
	.topics-list > li {
		
		@include grid-width(6);
		
		> b {
		
			width: 100%;
			float: none;
			
		}
		
	}
	
	.topics-list > li + li {
		
		border: none;
		
	}
	
	[class^=icon-] { 
	
		border: none;
		float: none;
		margin: 0 auto;
		
	}
}


@media screen and (min-width: -da-convt-root-ems(760px)) {
	
	.topics-list > li {
		@include grid-width(3);
		
		
	}
	
	.topics-list > li:nth-child(2n) {
		margin-right: 2.5%;
	}
	
	.topics-list > li:nth-child(4n) {
		margin-right: 0;
	}
}



