/* Footer */

.main-footer {
	text-align: center;
	color: #fff;
	background: $darkGray url(../images/escheresque_ste.png) repeat;
	padding: -da-convt-root-ems(24px);
	border-top: 2px solid #4d4d4d;
	
	a {
		color: #fff;
		display: inline-block;
		border-bottom: 1px dotted #eee;
		padding-bottom: 3px;
	}
}

